body{
    background-color: rgb(255,248,220);
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    height: 60px;
}

.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-image-logo{
    background-image: url("images/Crazy-Pizza.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    position: relative;
    text-indent: -9999999px;
    top: -20px;
    width: 150px;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}
