{% extends 'base.html' %}



{% block title %} Crazy Pizza {% endblock %}



{% block body %}
<body style="background-color:rgb(255,248,220);">

<div class="nav-wrapper">
            <div class="left-side">
              <div class="nav-image-logo">
                    <a href="/">Crazy Pizza</a>
              </div>

                <div class="nav-link-wrapper">
                    <a href="/">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="/mesaje">Mesaje</a>
                </div>



            </div>

            <div class="right-side">
                <div class="brand">
                    <div> BORZA ALEXANDRU </div>
                </div>

            </div>

        </div>
<div class="jumbotron p-3" style="background-color:rgb(255,248,220);">
    <div class="well text-center">

        <h1>Crazy Pizza - Administrarea datelor</h1>

    </div>


</div>


{% endblock %}