<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recenzie - Crazy Pizza</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styleRecenzie.css')}}">
  </head>
  <body>
     <div class="nav-wrapper">
            <div class="left-side">
              <div class="nav-image-logo">
                    <a href="/">Crazy Pizza</a>
              </div>

                <div class="nav-link-wrapper">
                    <a href="/">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="/meniu">Meniu</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="/rezervare">Rezervare</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="/logare">Admin</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="/contact">Contact</a>
                </div>

                 <div class="nav-link-wrapper">
                    <a href="/recenzie">Recenzii</a>
                </div>

            </div>

            <div class="right-side">
                <div class="brand">
                    <div> BORZA ALEXANDRU </div>
                </div>

            </div>

        </div>


    <div class="portofolio-items-wrapper">
     {% for row in recenzii %}

        <div class="portofolio-item wrapper">
            <div class="text-wrapper">
                <div class="recenzie">
                    <h3>{{row.nume}} - {{row.recenzie}}</h3>
                    <br>
                </div>
            </div>
        </div>

     {% endfor %}
     </div>
  </body>
</html>
